* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-size: 50%;
}

html{
  scroll-behavior: smooth;
}

body {
  background-color: #000123;
  background-size: 50%;;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.13);
  background-size: 50%;
  padding: 10px 0;
  z-index: 1090;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 200px;
  height: auto;
}

.company-name {
  margin-left: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #000000;
  visibility: hidden;
}

nav {
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: #ffffffb7;
  font-weight: bold;
  font-size: 18px;
  padding: 10px 15px;
}

nav ul li a:hover {
  background-color: #492e55;
  background-size: 50%;
  color: #fff;
}

/* Parallax */
.pr {
  font-size: 25px;
  color: white;
  position: absolute;
  display: inline-block;
  margin-top: 10px;
  margin-left: 880px;
  font-family: "Nova Square", sans-serif;
  
}

.prr {
  text-align: center;
}

.con {
  margin-top: -8px;
  padding: 10px;
  width: 800px;
  margin-left: 80px;
}

#banner.parallax {
  background-attachment: fixed;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: 100%;
  box-decoration-break: clone;
  min-height: 100%;
  text-align: center;
  background-image: url('BJT-JogandoComControle.jpg');
  width: 100%;
  height: 900px;
}

#siga {
  position: absolute;
  color: white;
  font-family: "Nova Square", sans-serif;
  font-size: 150px;
  margin-top: 100px;
  margin-left: 80px;
}

.botao2 {
  position: absolute;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 60px;
  color: #ff00d4;
  margin-top: 400px;
  margin-left: px;
  cursor: pointer;
  text-decoration: none;
  background-color: #930fff;
  border-radius: 30px;
}

#insta {
  color: #da2727;
  background-color: #fff;
  border-radius: 30px;
}

section {
  height: 100vh;
}

.faça {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 40px;
  color: #fffdfd;
  position: absolute;
  margin-top: 335px;
  margin-left: 700px;
}
.explicacao {
  font-optical-sizing: auto;
  padding: 60px;
  font-weight: 200;
  font-style: normal;
  font-size: 35px;
  color: #fffdfd;
  position: absolute;
  margin-top: 80px;
  text-align: justify;
  text-indent: 2em;
}

.texto {
  font-family: "Nova Square", sans-serif;
  font-style: normal;
  font-size: 80px;
  color: #fffdfd;
  position: absolute;
  margin-top: 400px;
  margin-left: 150px;
  Text-align: center;
}



.botao {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  color: #ffffff;
  position: absolute;
  margin-top: 40%;
  margin-left: 100px;
  cursor: pointer;
  text-decoration: none;
  background-color: #ff0f7b;
  border-radius: 10px;
}

.botao:hover {
  background-color: #a0064b;
}

#seta {
  color: #da2727;
  transform: scaleX(-1);
  background-color: #fff;
  border-radius: 40px;
}

h4 {
  color: #ece4e4;
  font-family: "Nova Square", sans-serif;
  font-size: 60px;
  margin-left: 90px;
  margin-top: 25px;
}

.p1 {
  font-size: larger;
  color: #000000;
}

#banner1.parallax1 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container p {
  font-size: 40px;
  margin-bottom: 20px;
}

/* Estilos para as seções */
section {
  height: 10px;
}

/* texto desenvolvimento */
.teste {
  color: #0100;
}

/* Mobile Styles */

@media only screen and (max-width: 767px) {
  body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  header {
    position: static;
    order: 1;
  }
  .logo {
    width: 150px;
  }


  nav {
    width: 100%;
    order: 2;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }
  nav ul li {
    margin-bottom: 2px;
    text-align: center;
  }
  nav ul li a {
    display: block;
    padding: 15px 0;
    text-decoration: none;
    font-weight: bold;
  }
  nav.active ul {
    display: flex;
  }

  .pr {
    font-size: 20px;
    margin-top: 230px;
    margin-left: 50%;
    transform: translateX(-50%);
  }

  .con {
    width: 90%;
    margin-left: 5%;
    margin-top: 10px;
  }

  

  #siga {
    color: #a0064b;
    font-size: 20px;
    margin-left: 30%;
    margin-top: 160%;
  }

  .botao2 {
    font-size: 20px;
    margin-top: 180%;
    margin-left: 10%;
    transform: translateX(-5%);
  }

#final{
  width: 720px;
  height: 1000px;
}
.explicacao {
  font-optical-sizing: auto;
  padding: 20px;
  font-weight: 100;
  font-style: normal;
  font-size: 15px;
  color: #fffdfd;
  position: absolute;
  margin-top: 2px;
  text-align: justify;
  text-indent: 2em;
  line-height: 1.4;
}
.faça {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
}
 .texto {
    font-size: 24px;
    font-weight: bold;
    Text-align: center;
    margin-left: 5%;
    margin: 300px 50px;
  }

  .botao {
    font-size: 20px;
    margin-top: 100%;
    margin-left: 10%;
    transform: translateX(-20%);
  }


  h4 {
    font-size: 40px;
    margin-left: 10%;
  }

  .container p {
    font-size: 30px;
  }

  #insta,
  #seta {
    font-size: 30px;
    padding: 10px;
  }


#banner.parallax {
  width: 100%;
  font-size: 100%;
  background-size: 2000px;


}


}


/*1000 de width*/

@media only screen and  (min-width: 768px) and ( max-width: 1024px) {
  header {
    position: static;
    order: 1;
  }
  body {
    display: flex;
    flex-direction: column;
  }

  .logo {
    width: 150px;
  }

  nav {
    width: 100%;
    order: 2;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }
  nav ul li {
    margin: 10px 0;
    width: 100%;
    text-align: center;
  }
  nav ul li a {
    display: block;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }

  nav.active ul {
    display: flex;
  }


  .pr {
    width: 60%;
    font-size: 30px;
    margin-top: 500px;
    margin-left: 30%;
    transform: translateX(-70%);
  }

  .con {
    width: 90%;
    margin-left: 4%;
    margin-top: 10px;
  }  

  #siga {
    font-size: 100px;
    margin-left: 10%;
    margin-top: 110%;
  }

  .botao2 {
    font-size: 30px;
    margin-top: 140%;
    margin-left: 50%;
    transform: translateX(-50%);
  }

#final{
  width: 1000px;
  height: 800px;
  margin-top: 30%;
}
.explicacao {
  position: absolute;
  order: 3;
  font-size: 30px;
  margin: 25px;
  padding: 10px;
  text-align: justify;
}
  .faça {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
    margin-left: 10%;
  }


  .texto{
    font-size: 24px;
    font-weight: bold;
    Text-align: center;
    margin-left: 5%;
    margin: 300px 50px;
  }

  .botao {
    font-size: 30px;
    margin-top: 40%;
    margin-left: 10%;
    transform: translateX(-20%);
  }

  h4 {
    font-size: 40px;
    margin-left: 10%;
  }

  .container p {
    font-size: 30px;
  }

  #insta,
  #seta {
    font-size: 30px;
    padding: 10px;
  }


#banner.parallax {
  width: 1000px;
  font-size: 100%;
  background-size: 2000px;
  background-size: cover;

}


}

